
/**
 * Quyết Nguyễn (Quyetdaik)
 * https://fb.com/nhquyet
 */


body {
      margin: 0;
    padding: 0;
    background:url('../img/bg.jpg') repeat 0 0;
    background-size:100%;
    perspective: 1000px;
    }
    #container {
      width: 100%;
      -webkit-perspective: 1000;
      -webkit-perspective-origin: 50% 600px;
    }
    #stage {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 2s;
      -webkit-transform-style: preserve-3d;
    }
    
    #shape {
      position: relative;
      top: 215px;
      margin: 0 auto;
      height: 200px;
      width: 200px;
      -webkit-transform-style: preserve-3d;
    }
    
    .plane {
      position: absolute;
      height: 200px;
      width: 200px;
      border: 1px solid white;
      -webkit-border-radius: 12px;
      -webkit-box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-backface-visibility: hidden;
    }

    #shape.backfaces .plane {
      -webkit-backface-visibility: visible;
    }

    #shape {
      -webkit-animation: spin 8s infinite linear;
    }

    @-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(360deg); }
    }
	
    .one {
		background-image: url(images/1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .two {
		background-image: url(images/2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .three {
		background-image: url(images/3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .four {
		background-image: url(images/4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .five {
		background-image: url(images/5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .six {
		background-image: url(images/6.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .seven {
		background-image: url(images/7.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eight {
		background-image: url(images/8.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .nine {
		background-image: url(images/9.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .ten {
		background-image: url(images/10.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eleven {
		background-image: url(images/11.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .twelve {
		background-image: url(images/12.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    #shape.cube > .one {
		opacity: 0.2;
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
    }

    #shape.cube > .two {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
    }

    #shape.cube > .three {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
    }

    #shape.cube > .four {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
    }

    #shape.cube > .five {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
    }

    #shape.cube > .six {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
    }
	
	#shape:hover.cube > .one {
		opacity: 0.9;
		-webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(90deg) translateZ(150px);
    }

    #shape:hover.cube > .two {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) translateZ(150px);
    }

    #shape:hover.cube > .three {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(90deg) translateZ(150px);
    }

    #shape:hover.cube > .four {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(180deg) translateZ(150px);
    }

    #shape:hover.cube > .five {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(-90deg) translateZ(150px);
    }

    #shape:hover.cube > .six {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(-90deg) translateZ(150px) rotate(180deg);
    }


    #shape.cube > .seven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
    }

    #shape.cube > .eight {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
    }

    #shape.cube > .nine {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
    }

    #shape.cube > .ten {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
    }

    #shape.cube > .eleven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
    }

    #shape.cube > .twelve {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
    }

    .ring > .one {
      -webkit-transform: translateZ(380px);
    }

    .ring > .two {
      -webkit-transform: rotateY(30deg) translateZ(380px);
    }

    .ring > .three {
      -webkit-transform: rotateY(60deg) translateZ(380px);
    }

    .ring > .four {
      -webkit-transform: rotateY(90deg) translateZ(380px);
    }

    .ring > .five {
      -webkit-transform: rotateY(120deg) translateZ(380px);
    }

    .ring > .six {
      -webkit-transform: rotateY(150deg) translateZ(380px);
    }

    .ring > .seven {
      -webkit-transform: rotateY(180deg) translateZ(380px);
    }

    .ring > .eight {
      -webkit-transform: rotateY(210deg) translateZ(380px);
    }

    .ring > .nine {
      -webkit-transform: rotateY(-120deg) translateZ(380px);
    }

    .ring > .ten {
      -webkit-transform: rotateY(-90deg) translateZ(380px);
    }

    .ring > .eleven {
      -webkit-transform: rotateY(300deg) translateZ(380px);
    }

    .ring > .twelve {
      -webkit-transform: rotateY(330deg) translateZ(380px);
    }

    .controls {
      width: 80%;
      margin: 0 auto;
      padding: 5px 20px;
    }
    .controls > div {
      margin: 10px;
    }
    @charset "UTF-8";
/*!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.2.4
 * Demo: https://bttn.surge.sh
 *
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S (@ganapativs)
 *
 */
/* standalone - .bttn-gradient */
.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple,
.bttn-gradient {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 4px;
  background: rgba(255,255,255,0.4);
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-simple:hover,
.bttn-gradient:hover,
.bttn-simple:focus,
.bttn-gradient:focus {
  opacity: 0.75;
}
.bttn-simple.bttn-xs,
.bttn-gradient.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple.bttn-sm,
.bttn-gradient.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-simple.bttn-md,
.bttn-gradient.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-simple.bttn-lg,
.bttn-gradient.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-simple.bttn-default,
.bttn-gradient.bttn-default {
  background: rgba(255,255,255,0.4);
}
.bttn-simple.bttn-primary,
.bttn-gradient.bttn-primary {
  background: #1d89ff;
}
.bttn-simple.bttn-warning,
.bttn-gradient.bttn-warning {
  background: #feab3a;
}
.bttn-simple.bttn-danger,
.bttn-gradient.bttn-danger {
  background: #ff5964;
}
.bttn-simple.bttn-success,
.bttn-gradient.bttn-success {
  background: #28b78d;
}
.bttn-simple.bttn-royal,
.bttn-gradient.bttn-royal {
  background: #bd2df5;
}
.bttn-gradient {
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d6e3ff));
  background-image: -webkit-linear-gradient(top, #fff 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #fff 100%);
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  color: #1d89ff;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
.bttn-gradient.bttn-default {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d6e3ff));
  background-image: -webkit-linear-gradient(top, #fff 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #fff 100%);
  color: #1d89ff;
}
.bttn-gradient.bttn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bbd4), color-stop(1, #3f51b5));
  background-image: -webkit-linear-gradient(top, #00bbd4 0%, #3f51b5 100%);
  background-image: linear-gradient(to bottom, #00bbd4 0%, #3f51b5 100%);
  background-image: -webkit-linear-gradient(93deg, #3f51b5 0%, #00bbd4 100%);
  color: #fff;
}
.bttn-gradient.bttn-warning {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #feab3a), color-stop(1, #f35626));
  background-image: -webkit-linear-gradient(top, #feab3a 0%, #f35626 100%);
  background-image: linear-gradient(to bottom, #feab3a 0%, #f35626 100%);
  background-image: -webkit-linear-gradient(93deg, #f35626 0%, #feab3a 100%);
  color: #fff;
}
.bttn-gradient.bttn-danger {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff97c2), color-stop(1, #e91e63));
  background-image: -webkit-linear-gradient(top, #ff97c2 0%, #e91e63 100%);
  background-image: linear-gradient(to bottom, #ff97c2 0%, #e91e63 100%);
  background-image: -webkit-linear-gradient(93deg, #e91e63 0%, #ff97c2 100%);
  color: #fff;
}
.bttn-gradient.bttn-success {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9ccc65), color-stop(1, #009688));
  background-image: -webkit-linear-gradient(top, #9ccc65 0%, #009688 100%);
  background-image: linear-gradient(to bottom, #9ccc65 0%, #009688 100%);
  background-image: -webkit-linear-gradient(93deg, #009688 0%, #9ccc65 100%);
  color: #fff;
}
.bttn-gradient.bttn-royal {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9c27b0), color-stop(1, #512da8));
  background-image: -webkit-linear-gradient(top, #9c27b0 0%, #512da8 100%);
  background-image: linear-gradient(to bottom, #9c27b0 0%, #512da8 100%);
  background-image: -webkit-linear-gradient(93deg, #512da8 0%, #9c27b0 100%);
  color: #fff;
}